
body{
    margin: 0;
    padding: 0;
}


.nav-costum{
    background-color:chocolate;
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
         
}

.menùcostum{
    width: 80px;
    
}

.wrappermenù{
    margin-left: 10px;
}


.wrappernav{
    margin-left: 60px;
}


.search-costum{
    width: 300px;
}


.logincostum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.header-costum{
    margin-top: 150px;
}


.title-costum{
    text-align: center;
    background-color: aquamarine;
}

.subtitle-costum{
    text-align: center;
    background-color: aquamarine;
}

.section-costum{
    height: 500px;
    width: 500px;
    background-color: aqua;
    border: 3px solid wheat;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sectionwrapper{
    
    background-color: black;
    height: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

